body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(-45deg, green, #c06c6c, #e89cf8, #450cc1);
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
  color: white;
  text-align: center;
  min-height: 100vh;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

h1, h2 {
  margin: 10px 0;
}

.subtitle {
  margin-bottom: 30px;
}

.search-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.search-box input, .search-box button {
  padding: 12px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
}

.search-box input[type="text"] {
  width: 50%;
  min-width: 200px;
}

.search-box input[type="date"] {
  border-radius: 10px;
}

.search-box button {
  background-color: white;
  color: purple;
  font-weight: bold;
  cursor: pointer;
}

#apiStatus {
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  width: fit-content;
}

.hidden {
  display: none;
}

.weather-card {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 20px;
  margin-top: 30px;
}

.main-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}

.weather-details div, .info-block {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 15px;
}

.sun-temp-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 20px;
  margin-top: 25px;
}

.icon {
  font-size: 50px;
  margin-bottom: 10px;
}

.error-box {
  background: linear-gradient(to right, #d946ef, #9333ea);
  color: white;
  padding: 25px;
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid #fbbf24;
  font-size: 1.1rem;
}

.footer {
  margin-top: 40px;
  font-size: 0.9rem;
  color: #ddd;
}
